

.list-opportunities-page{

}



.opportunity-page-redesign{
   background: rgba(0,0,0, 0.4);
    padding: 1rem;
    border-radius: 20px;
    color: #fff;
}

tr.inner-pages {
    color: #fff;
}

label {
    color: #fff;
}