
						<div class="main-page-cmmn-feed-card main-page__cmmn-card dropdown">
							<div class="card-option-dots" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-ellipsis-h"></i>
								<div class="dropdown-menu dots__options-list--for-feed">
									<ul>
										<li><a href="#">Sort by</a></li>
										<li><a href="#">Draft</a></li>
										<li><a href="#">Publish</a></li>
										<li><a href="#">Screen</a></li>
										<li><a href="#">Complete</a></li>
										<li><a href="#">Cancel</a></li>
									</ul>
								</div>
							</div>
							<div class="main-page-cmmn-feed-card__top-blue-banner">
									<p>$150 Gift Card</p>
							</div>
							<div class="main-page-cmmn-feed-card__heading blue-txt-clr">
								Collaborate on new storyline for Chelos
							</div>
							<div class="main-page-cmmn-feed-card__desc">
								Assist in providing hardware and software solutions enabling delivery of the latest Kloves technologies…
							</div>
							<div class="main-page-cmmn-feed-card__coins-info">
								<i class="fas fa-coins gold-coins-color"></i><span>25</span>
							</div>
							<div class="main-page-cmmn-feed-card__footer-area--border"></div>
							<div class="main-page-cmmn-feed-card__footer-area">							
								<div class="row clearfix">
								<div class="col-md-1">
									<i class='fas fa-user-circle fa-2x'></i>
								</div>
								<div class="col-md-4">
									<div class="main-page-cmmn-feed-card__footer-area--desg">Vincent Lawson</div> 
									<div class="main-page-cmmn-feed-card__footer-area--dept">IT Department</div>
								</div>
								<div class="col-md-7">
									<div class="main-page-cmmn-feed-card__footer--social-icons">
										<i class="far fa-thumbs-up"></i>
										<i class="far fa-heart"></i>
										<i class="far fa-comment"></i>
										<i class="far fa-share-square"></i>
									</div>
								</div>
								</div>
							</div>
						</div> <!------FEED-CARD-ENDS-HERE-->
						<!---------->
						<!---2--->
						<div class="main-page-cmmn-feed-card main-page__cmmn-card">
							<i class="fas fa-ellipsis-h card-option-dots"></i>
							<div class="main-page-cmmn-feed-card__top-blue-banner">
									<p>$150 Gift Card</p>
							</div>
							<div class="main-page-cmmn-feed-card__heading blue-txt-clr">
									Audio Technology for TV
							</div>
							<div class="main-page-cmmn-feed-card__desc">
									Help to maintain the QA environment, assist in design, write & execute tests of audio coding & audio processing…
							</div>
							<div class="main-page-cmmn-feed-card__coins-info">
								<i class="fas fa-coins gold-coins-color"></i><span>25</span>
							</div>
							<div class="main-page-cmmn-feed-card__footer-area--border"></div>
							<div class="main-page-cmmn-feed-card__footer-area">							
								<div class="row clearfix">
								<div class="col-md-1">
									<i class='fas fa-user-circle fa-2x'></i>
								</div>
								<div class="col-md-4">
									<div class="main-page-cmmn-feed-card__footer-area--desg">Vincent Lawson</div> 
									<div class="main-page-cmmn-feed-card__footer-area--dept">IT Department</div>
								</div>
								<div class="col-md-7">
									<div class="main-page-cmmn-feed-card__footer--social-icons">
										<i class="far fa-thumbs-up"></i>
										<i class="far fa-heart"></i>
										<i class="far fa-comment"></i>
										<i class="far fa-share-square"></i>
									</div>
								</div>
								</div>
							</div>
						</div> <!------FEED-CARD-ENDS-HERE-->
						<!---------->
						<!---3--->
						<div class="main-page-cmmn-feed-card main-page__cmmn-card">
								<i class="fas fa-ellipsis-h card-option-dots"></i>
								<div class="main-page-cmmn-feed-card__top-blue-banner">
										<p>$150 Gift Card</p>
								</div>
								<div class="main-page-cmmn-feed-card__heading blue-txt-clr">
										Restock merchandize at the welcome customer store
								</div>
								<div class="main-page-cmmn-feed-card__desc">
										Assist in providing hardware and software solutions enabling delivery of the latest Kloves technologies…
								</div>
								<div class="main-page-cmmn-feed-card__coins-info">
									<i class="fas fa-coins gold-coins-color"></i><span>25</span>
								</div>
								<div class="main-page-cmmn-feed-card__footer-area--border"></div>
								<div class="main-page-cmmn-feed-card__footer-area">							
									<div class="row clearfix">
									<div class="col-md-1">
										<i class='fas fa-user-circle fa-2x'></i>
									</div>
									<div class="col-md-4">
										<div class="main-page-cmmn-feed-card__footer-area--desg">Monique Clarke</div> 
										<div class="main-page-cmmn-feed-card__footer-area--dept">IT Department</div>
									</div>
									<div class="col-md-7">
										<div class="main-page-cmmn-feed-card__footer--social-icons">
											<i class="far fa-thumbs-up"></i>
											<i class="far fa-heart"></i>
											<i class="far fa-comment"></i>
											<i class="far fa-share-square"></i>
										</div>
									</div>
									</div>
								</div>
							</div> <!------FEED-CARD-ENDS-HERE-->
							<!---------->
							<!-----yellow-feed-card-1----->
							<div class="main-page-cmmn-feed-card yellow-cmmn-feed-card">
								
									<i class="fas fa-ellipsis-h card-option-dots"></i>
									<div class="main-page-cmmn-feed-card__desc">
											@Dirk Diggler Thank you for a magnificent job on the welcome aboard pamphlets! #designexpert
									</div>
									<div class="main-page-cmmn-feed-card__coins-info">
										<i class="fas fa-coins gold-coins-color"></i><span>25</span>
									</div>
								</div> <!-------CARD-ENDS-HERE-->
									<div class="main-page-cmmn-feed-yellow-card__footer-area--border"></div>
									<div class="main-page-cmmn-feed-yellow-card__footer-area">							
										<div class="row clearfix">
										<div class="col-md-1">
											<i class='fas fa-user-circle fa-2x'></i>
										</div>
										<div class="col-md-4">
											<div class="main-page-cmmn-feed-card__footer-area--desg">Monique Clarke</div> 
											<div class="main-page-cmmn-feed-card__footer-area--dept">IT Department</div>
										</div>
										<div class="col-md-7">
											<div class="main-page-cmmn-feed-card__footer--social-icons">
												<i class="far fa-thumbs-up"></i>
												<i class="far fa-heart"></i>
												<i class="far fa-comment"></i>
												<i class="far fa-share-square"></i>
											</div>
										</div>
										</div>
									</div><!---yellow-card-footer-ends-here-->
									<!------>
						<!---4--->
						<div class="main-page-cmmn-feed-card main-page__cmmn-card">
								<i class="fas fa-ellipsis-h card-option-dots"></i>
								<div class="main-page-cmmn-feed-card__top-blue-banner">
										<p>$150 Gift Card</p>
								</div>
								<div class="main-page-cmmn-feed-card__heading blue-txt-clr">
										Broadcast Professional Products
								</div>
								<div class="main-page-cmmn-feed-card__desc">
										Assist in providing hardware and software solutions enabling delivery of the latest Kloves technologies…
								</div>
								<div class="main-page-cmmn-feed-card__coins-info">
									<i class="fas fa-coins gold-coins-color"></i><span>25</span>
								</div>
								<div class="main-page-cmmn-feed-card__footer-area--border"></div>
								<div class="main-page-cmmn-feed-card__footer-area">							
									<div class="row clearfix">
									<div class="col-md-1">
										<i class='fas fa-user-circle fa-2x'></i>
									</div>
									<div class="col-md-4">
										<div class="main-page-cmmn-feed-card__footer-area--desg">Vincent Lawson</div> 
										<div class="main-page-cmmn-feed-card__footer-area--dept">IT Department</div>
									</div>
									<div class="col-md-7">
										<div class="main-page-cmmn-feed-card__footer--social-icons">
											<i class="far fa-thumbs-up"></i>
											<i class="far fa-heart"></i>
											<i class="far fa-comment"></i>
											<i class="far fa-share-square"></i>
										</div>
									</div>
									</div>
								</div>
							</div> <!------FEED-CARD-ENDS-HERE-->
							<!---------->
							<!---5--->
						<div class="main-page-cmmn-feed-card main-page__cmmn-card">
								<i class="fas fa-ellipsis-h card-option-dots"></i>
								<div class="main-page-cmmn-feed-card__top-blue-banner">
										<p>$150 Gift Card</p>
								</div>
								<div class="main-page-cmmn-feed-card__heading blue-txt-clr">
										Create slideshow from presentation deck
								</div>
								<div class="main-page-cmmn-feed-card__desc">
										Assist in providing hardware and software solutions enabling delivery of the latest Kloves technologies…
								</div>
								<div class="main-page-cmmn-feed-card__coins-info">
									<i class="fas fa-coins gold-coins-color"></i><span>25</span>
								</div>
								<div class="main-page-cmmn-feed-card__footer-area--border"></div>
								<div class="main-page-cmmn-feed-card__footer-area">							
									<div class="row clearfix">
									<div class="col-md-1">
										<i class='fas fa-user-circle fa-2x'></i>
									</div>
									<div class="col-md-4">
										<div class="main-page-cmmn-feed-card__footer-area--desg">Vincent Lawson</div> 
										<div class="main-page-cmmn-feed-card__footer-area--dept">IT Department</div>
									</div>
									<div class="col-md-7">
										<div class="main-page-cmmn-feed-card__footer--social-icons">
											<i class="far fa-thumbs-up"></i>
											<i class="far fa-heart"></i>
											<i class="far fa-comment"></i>
											<i class="far fa-share-square"></i>
										</div>
									</div>
									</div>
								</div>
							</div> <!------FEED-CARD-ENDS-HERE-->
							<!---------->
						<!-----yellow-feed-card-2----->
						<div class="main-page-cmmn-feed-card yellow-cmmn-feed-card yellow-cmmn-feed-card-full-border">
				
								<i class="fas fa-ellipsis-h card-option-dots"></i>
								<div class="main-page-cmmn-feed-card__desc">
										<span class="blue-txt-clr">Natasha Vargas</span> validated <span class="blue-txt-clr">Dirk Diggler’s</span> skill sets <span class="blue-txt-clr">UX/UI, Front-end Development</span>
								</div>
								<div class="main-page-cmmn-feed-card__coins-info">
									<i class="fas fa-coins gold-coins-color"></i><span>25</span>
								</div>
							</div> <!-------CARD-ENDS-HERE-->